*{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}


								/*-------------HOME page----------------*/
.header{               /*-----header-----*/
	
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/index/backGround.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	display: flex;
	padding: 1% 4%;
	justify-content: space-between;
	align-items: center;
}

.logo{
	width: 150px;
}

.cartImg{
	width: 50px;
	margin-left: 20px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	transition: 0.5s;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.nav-links ul li a::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.3s;
}

.nav-links ul li a:hover::after{
	width: 100%;
}

.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1{
	font-size: 80px;
}

.text-box p{
	margin: 10px 0 14px;
	font-size: 40px;
	color: #fff;
}

.designd-header-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.designd-header-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 0.5s;
}

nav .fa{
	display: none;
}

.dropDownMenu{
	display: none;
	position: absolute;
	background-color: #00111c;
	text-align: center;
	left: 0;
	transition: 1s;
	z-index: 3;
}
#DDM:hover .dropDownMenu{
	display: block;

}
.product{                   /*-----items-----*/
	width: 100%;
	text-align: center;
	background: #00111c;
	position: relative;
}

.product h1{
	font-size: 80px;
	font-weight: 600;
	color: #fff;
}

.product p{
	color: #777;
	font-size: 40px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.designd-product-btn{
	display: inline-block;
	text-decoration: none;
	color: #777;
	border: 1px solid #777;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.designd-product-btn2{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.designd-product-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 0.5s;
}

.designd-product-btn2:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 0.5s;
}

.row{
	margin-top: 1%;
}

#product1{
	background-image: url(../img/index/product1.jpg);
}
#product2{
	background-image: url(../img/index/product2.jpg);
}
#product3{
	background-image: url(../img/index/product3.jpg);
}

.product-col{
	flex-basis: 50%;
	border-radius: 30px;
	margin: 40px 40px 0 20px;
	padding: 20px 12px;
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
	height: 900px;
}

.product-col h3{
	text-align: center;
	font-weight: 600;
	font-size: 80px;
	margin-bottom: 5px;
	padding-top: 200px;
	color: #fff;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.7);
}

.product-col p{
	font-size: 40px;
	color: #fff;
	margin-bottom: 20px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}


.comming-soon{                /*-----Comming soon-----*/
	width: 100%;
	margin-top: 0;
	text-align: center;
	padding-top: 100px;
	background: #00111c;
}

.comming-soon h1{
	font-size: 80px;
	font-weight: 600;
	color: #777;
}

.comming-soon p{
	color: #777;
	font-size: 40px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row2{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.product-col2{
	flex-basis: 50%;
	background: #00111c;
	border: 2px solid #ff2121;
	border-radius: 30px;
	margin-bottom: 20%;
	margin-right: 20px;
	margin-left: 20px;
	padding: 20px 12px;
	box-sizing: border-box;
	height: 300px;
	transition: 0.3s;

	/*background-position: center;
	background-size: cover;
	height: 800px;*/
}

.product-col2:hover{
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.7);
	background: #ff2121;
	/*cursor: not-allowed;*/
}

.product-col2 h3{
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 60px;
	margin-bottom: 5px;
}

.product-col2 p{
	font-size: 40px;
	color: #fff;
	margin-bottom: 20px;
}


.row3{		/*-----Offers-----*/

	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

#ofer-col1{
	margin-bottom: 1%;
}


.footer{     /*---------Footer---------*/

	background: #000;
	color: #8A8A8A;
	font-size: 14px;
	padding: 20px 0 20px;
}

.footer p{
	color: #8A8A8A;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col, .footer-col-1, .footer-col-2{
	min-width: 250px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.footer-col{
	margin-left: 80px;
}

.footer-col-1{
	flex-basis: 30%;
	margin-left: 15%;
	text-align: center;
}


.footer-col-1 h3{
	font-size: 30px;
}

.footer-col-1 p{
	font-size: 20px;
	margin-bottom: 10px;
}

#app-url{
	margin-top: 20px;
}

.footer-col-2{
	flex: 1;
	text-align: center;
	margin-left: 30px;
}

.footer-col-2 h3{
	font-size: 30px;
}

.footer-col-2 ul{
	list-style-type: none;

}

.footer-col-2 ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.footer-col-1 p a{
	text-decoration: none;
	color: #fff;
}

.row4{
	display: flex;
	justify-content: space-between;
}

.footer-col img{
	width: 300px;
}





								/*-------------Product page----------------*/

.product-header{
	background-color: #00111c;
}








@media(max-width:  700px){  	/*-----media-----*/

	html, body {
		overflow-x: hidden;
	}

								/*-----header-----*/
	.text-box h1{
		font-size: 30px;
	}
	.text-box p{
		font-size: 16px;
	}
	.logo{
		width: 70px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 40px;
		margin-bottom: 20px;
	}

								/*-----Product-----*/				
	.product{
		padding: 20px 12px;
	}
	.product h1{
		font-size: 40px;
		margin-right: 20px;
	}

	.product p{
		font-size: 20px;
		margin-right: 20px;
	}
	.product-col{
		box-sizing: border-box;
		background-position: center;
		background-size: cover;
		height: 600px;
		margin-left: 20px;
	}
	.row{
		margin-top: 1px 0;
	}
	.product-col h3{
		font-size: 40px;
		margin-bottom: 5px;
		padding-top: 100px;
		text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
	}

	.product-col p{
		font-size: 20px;
		margin-bottom: 20px;
	}

								/*-----Comming soon-----*/
	.row2{
		flex-direction: column;
	}
	.comming-soon h1{
		font-size: 40px;
	}
	.comming-soon p{
		font-size: 20px;
	}
	.product-col2 h3{
		font-size: 30px;
	}

	.product-col2 p{
		font-size: 20px;
	}

								/*-----Ofers-----*/
	.row3{
		flex-direction: column;
	}
	#ofer-col1{
		margin-bottom: 10px;
	}

								/*-----footer-----*/
	.row4{
		flex-direction: column;
	}
	.footer-col img{
		width: 150px;
		height: 80px;
		margin-left: 50px;
	}
	.footer-col-1{
		margin-left: 0px;
	}
}

